In [1]:
import mysql.connector

In [2]:
myconn = mysql.connector.connect(host = "localhost", user = "root",passwd = "qwertyuiop")
print(myconn)

cur = myconn.cursor()  
  
print(cur)

<mysql.connector.connection.MySQLConnection object at 0x000002255B285CA0>
MySQLCursor: (Nothing executed yet)

In [3]:
try:  
    dbs = cur.execute("show databases")  
except:  
    myconn.rollback()  
for x in cur:  
    print(x)

('flyaway',)
('information_schema',)
('mysql',)
('performance_schema',)
('product1',)
('python_prac',)
('student',)
('sys',)

In [4]:
print(dbs)

None

In [5]:
try:  
    #creating a new database  
    cur.execute("create database python_prac")  
  
    #getting the list of all the databases which will now include the new database PythonDB  
    dbs = cur.execute("show databases")  
      
except:  
    myconn.rollback()  
  
for x in cur:  
        print(x)

In [6]:
print(cur)

MySQLCursor: create database python_prac

In [7]:
try:
    dbs = cur.execute("use python_prac")    

except:
    myconn.rollback()

In [49]:
try:   
    dbs = cur.execute("create table user(ID int auto_increment,first_name varchar(20),last_name varchar(20),email varchar(50),password varchar(50),phone_number int, D_O_B Date, primary key(ID))")
except:
    myconn.rollback()

In [50]:
try:
    dbs = cur.execute("alter table user add age int")
except:
    myconn.rollback()

In [57]:
dbs = cur.execute("alter table user drop D_O_B")

In [60]:
dbs = cur.execute("alter table user drop phone_number ")

In [11]:
sql = "insert into user (first_name , last_name ,email , password ,age) values(%s,%s,%s,%s,%s)"
inp = input("how many record you want to enter : ")
print("-----------------------------------")
for i in range(int(inp)):
    f_name = input("enter your first_name : ")
    l_name = input("enter your last_name : ")
    email = input("enter your email : ")
    password = input("enter your password : ")
    age = int(input("enter your age : "))
    val = [f_name , l_name , email , password , age]
    dbs = cur.execute(sql , val)
    myconn.commit()
    print(" success full record inserted")
    print("---------------------------------")

how many record you want to enter : 5
-----------------------------------
enter your first_name : xyz
enter your last_name : abc
enter your email : xyz@gmail.com
enter your password : worry not
enter your age : 20
 success full record inserted
---------------------------------
enter your first_name : abc
enter your last_name : kumar
enter your email : abckumar@yahoo.com
enter your password : qazwsxedcrfv
enter your age : 44
 success full record inserted
---------------------------------
enter your first_name : hello
enter your last_name : world
enter your email : helloworld@gmail.com
enter your password : helloworld
enter your age : 99
 success full record inserted
---------------------------------
enter your first_name : plumber
enter your last_name : pipe
enter your email : plumber_pipe_wala@gmail.com
enter your password : plumber solve pipe problem
enter your age : 36
 success full record inserted
---------------------------------
enter your first_name : arijit
enter your last_name : singh
enter your email : singerarijit@gmail.com
enter your password : singer hu m
enter your age : 38
 success full record inserted
---------------------------------

In [20]:
cur.execute("select id , first_name , age from user")
result = cur.fetchall()

print(" ID        NAME      AGE")
for x in result:
    print("%s       %s       %s" %(x[0] , x[1] , x[2]))

 ID        NAME      AGE
1       rahul       24
4       renu       25
5       aarti       19
6       abhishek       23
7       xyz       20
8       abc       44
9       hello       99
10       plumber       36
11       arijit       38